<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{current_content.title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="/sdl_gpu_by_example/css/lesson.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {{inserts.navbar}}

      <div class="flex-wrap" style="min-height:0">      

        {{inserts.sidebar}}
          
        <div class="p-2 mh-100">
          <h1 class="post-title">{{current_content.title}}<a name="title" id="title"></a></h1>
          
          <hr>
          {{current_content.rendered_html}}
          
          <a href="/sdl_gpu_by_example/assets/code/{{current_content.file_name_no_ext}}.zip"><p>Download the source for this example here.</p>
          
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/c.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/cmake.min.js"></script> -->

    <script>hljs.highlightAll();</script>

  </body>
</html>
